.FeatureInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding: 20px 50px;
}
.FeatureInfo .FeatureInfoItem{
  padding: 20px 30px 20px 20px;
  width: 180px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
}
.FeatureInfo .FeatureInfoItem:nth-child(1){
  background: #0694A2;
}
.FeatureInfo .FeatureInfoItem:nth-child(2){
  background: #0E9F6E;
}
.FeatureInfo .FeatureInfoItem:nth-child(3){
  background: #f7a400;
}
.FeatureInfo .FeatureInfoItem:nth-child(4){
  background: #3a9efd;
}
.FeatureInfo .FeatureInfoItem .FeatureInfoItem_title{
 font-size: 16px;
}
.FeatureInfo .FeatureInfoItem .FeatureInfoItem_price{
 font-size: 25px;

}
.FeatureInfo .FeatureInfoItem .FeatureInfoItem_icon{
 font-size: 35px;
 margin-bottom: 10px;

}


