.FeatureInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.FeatureInfo .FeatureInfoItem{
    flex: 1;
    padding: 20px 25px;
    margin: 10px;
    border-radius: 10px; 
    -webkit-box-shad: 2px 2px 9px -5px rgb(0 0 0 / 32%);
    box-shadow: 2px 2px 9px -3px rgb(0 0 0 / 32%);
}
.FeatureInfo .FeatureInfoItem .FeatureInfoTitle{
  color: var(--secondary-text-color);
}
.FeatureInfo .FeatureInfoItem .FeatureInfoTitle{
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}
.FeatureInfo .FeatureInfoContainer{
   margin-top: 2%1;
}
.FeatureInfo .FeatureInfoContainer > p{
    margin-bottom: 5px;
    font-size: 14px !important;
    line-height: 20px;
}
.FeatureInfo .FeatureInfoContainer .FeatureInfoTotalLastPosted{
    margin-top: 15px;
}
.FeatureInfo .FeatureInfoItem .FeatureInfoIcon{
  color: var(--shape-color);
  font-size: 15px !important;
  margin-right: 10px;
}
