.SideBar {
 width: 200px;
  height: calc(100% - 50px);
  background-color: var(--primary-bg-color);
  position: sticky;
  top: 0;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}
.SideBar .sideBarWrap {
  padding: 20px 0 0px 20px;
  height: 100%;
}
.SideBar .sideBarWrap .sideBarMenu {
  margin-bottom: 10px;
}
.SideBar .sideBarWrap .sideBarTitle {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(173, 173, 173);
}
.SideBar .sideBarWrap .sideBarListItem {
 
  font-weight: 700;
  font-size: 15px;
  color: var(--primary-text-color);
  cursor: pointer;
  padding: 10px 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  border-left: 5px solid transparent;

  /* border-radius: 10px 0 0 10px; */
  transition: all .2s linear;
}
.SideBar .sideBarWrap > ul:hover {
  font-size: 15px;
  color: var(--primary-hover-color);
 
}
.SideBar .sideBarList {
  list-style: none;
  padding: 5px 0px 5px 5px;
  position: relative;
}
.SideBar .sideBarListItem:hover,
.SideBar .sideBarListItem.active {
  background-color: #fff;
  color: var(--primary-hover-color);
}
.SideBar .sideBarListItem.active {
  border-left: 5px solid var(--primary-hover-color);
}
.SideBar .sideBarListItem  {
  position: relative;
  display: flex;
  align-items: center;
}
.SideBar .dropDownItems {
  clear: both;
position: absolute;
left: 170px;
  list-style: none;
  background-color: #fff;
  padding: 20px;
  border-radius: 0px 10px 10px 0px;
  top: 0px;
  /* box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%); */
 visibility: hidden;
 transition: all .2s linear;
 opacity: 0;
}

.SideBar .dropDownItems .dropDownItem{
  width: 150px;
  display: list-item;
  position: relative;
margin-bottom: 5px;
padding: 5px;
}
.SideBar .dropDownItems .dropDownItem:hover{
  color: var(--primary-hover-color);
}
.SideBar .dropDownItems .dropDownItem{
  color: var(--primary-text-color);
}
.SideBar .sideBarListItem:hover .dropDownItems{
  visibility: visible;
  opacity: 1;

}
.SideBar .sideBarIcon {
  margin-right: 6px;
  font-size: 20px !important;
}

