:root {
  --primary-theme-color: #0E9F6E;
  --primary-hover-color: #0E9F6E;
  --primary-text-color: #757575;
  --secondary-text-color: #121212;

}

* {
  margin: 0;
  padding: 0;
  font-family: "Oxygen", sans-serif;
}
html {
  overflow-x: hidden;
}

.containerMain {
  display: flex;
}
.other {
  flex: 4;
}
