:root {
  --primary-theme-color: #0e9f6e;
  --primary-hover-color: #0e9f6e;
  --primary-bg-color: #fff;
  --secondary-bg-color: #f9fafb;
  --primary-text-color: #757575;
  --secondary-text-color: #121212;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Oxygen", sans-serif;
}
html {
  overflow-x: hidden;
}

.containerMain {
  display: flex;
}
